* {
  margin: 0;
  padding: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  max-width: 1488px;
  margin: auto; }
